# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output (Vite)
dist

# Test coverage
coverage

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# Logs
*.log

# IDE / Editor configs
.vscode
.idea

# System files
.DS_Store
Thumbs.db

# Prettier shouldn't format these
*.md        # markdown files (docs)
*.svg       # raw svg assets
*.ico       # icons
public/*    # static assets served by Vite
vite.config.js
vite.config.ts